:root {
  --white: #fff;
  --primary-color: #9cc425;
  --dark-grey: #55595c;
  --darker-grey: #494c4f;
  --primary-text: #000;
  --shadow-color: rgba(0,0,0,.15);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: #cacaca;
}

a {
  text-decoration: none;
}

b {
  font-weight: bolder;
}

button {
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

/* General classes */
.container {
  padding: 0 20px;
}

.btn {
  padding: 12px 24px;
  border-radius: 5px;
  background: var(--white);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.cta-btn {
  padding: 20px 50px;
  color: var(--primary-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.btn-icon {
  margin-right: 25px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-phone {
  transform: scaleX(-1);
}

/* Header */
.header {
  background: var(--white);
  position: relative;
  z-index: 2;
}

.info-bar {
  padding: 20px;
}

.logo {
  display: block;
  width: 150px;
  height: auto;
}

.contact-info {
  display: none;
}


/* Menu */
.menu-toggle-container {
  position: absolute;
  top: 30px;
  left: 20px;
}

.menu-toggle {
  width: 33px;
  height: 33px;
}

.menu-toggle-icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../assets/menu3.svg) 0 0/cover no-repeat;
}
.menu-toggle-icon.is-active {
  background-image: url(../assets/close2.svg);
}

.nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .3s ease;
}

.nav.is-active {
  max-height: 100%;
  transform: scaleY(1);
  transform-origin: top;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  position: relative;
  z-index: 2;
}

.menu-link {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  background: var(--white);
  color: var(--darker-grey);
  padding: 10px 20px;
}

.menu-link.is-active {
  background-color: var(--dark-grey);
  color: var(--white);
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--dark-grey);
  color: var(--white);
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
}

.drop-arrow {
  color: #494c4f;
  transform: scale(1.5);
}

.menu-link:hover .drop-arrow,
.menu-link:focus .drop-arrow {
  color: var(--white);
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
}

.submenu.is-active {
  max-height: 500px;
  transition: max-height .3s ease;
}

.submenu-link {
  text-transform: initial;
  padding-left: 40px;
}


/* Hero */
.hero {
  height: 600px;
  background: url(../assets/therapie-im-zentrum_Eingangsbereich_slider_hell.jpg) center/cover no-repeat;
  background-position: center;
  position: relative;
  margin-top: -45px;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: .45;
  mix-blend-mode: multiply;
}

.hero-shape {
  width: 100%;
  position: absolute;
  bottom: -5px;
}

.hero-shape svg {
  height: 500px;
  width: calc(230% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.shape-fill {
  fill: var(--primary-color);
}

.hero-content {
  padding-top: 55px;
  position: absolute;
  top: 0;
}

.title-hero {
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: var(--white);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.hero-cards {
  background: var(--primary-color);
  position: relative;
}

.hero-cards .cards {
  position: relative;
  top: -230px;
  height: 900px;
}

.hero-cards .shape-fill {
  fill: var(--white);
}

.card {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.25);
  text-align: center;
  align-items: flex-end;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;      
}

.card-bg-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 11px;
  background: #850000;
  mix-blend-mode: hue;
}

.card-content {
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: var(--white);
  text-shadow: 0 0 5px rgba(0,0,0,1);
}

#hero-card-1 {
  background-image: url(../assets/osteomed_schmerztherapie_02.png);
}
#hero-card-2 {
  background-image: url(../assets/osteomed_schmerztherapie_01.png);
}
#hero-card-3 {
  background-image: url(../assets/osteomed_schmerztherapie_03.png);
}