:root {
  --white: #fff;
  --primary-color: #9cc425;
  --accent-color: #c36;
  --dark-grey: #55595c;
  --darker-grey: #494c4f;
  --primary-text: #000;
  --shadow-color: rgba(0,0,0,.15);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 .9rem;
  line-height: 1.5;
}

b {
  font-weight: bolder;
}

button {
  border: 0;
  border-radius: 0;
  background: transparent;
  padding: 0;
}


/* General classes */
.container {
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.section-title,
.section-subtitle {
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.title {
  font-size: 30px;
  font-family: 'Montserrat';  
}

.section-title,
.article-title {
  font-size: 25px;
}

.section-subtitle {
  font-size: 18px;
}

.article-title {
  text-align: left;
  margin: 1.5em 0;
}

.text-initial {
  text-transform: initial;
}

.hidden-text {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.form-group {  
  margin-bottom: 15px;
}

.text-field {
  min-height: 40px;
  background-color: rgba(122,122,122,.08);
  border-width: 0;
  border-radius: 25px;
  font-family: "Roboto",Sans-serif;
  font-weight: 400;  
  line-height: 1.4;
  font-size: 15px;
  color: #7a7a7a;
  width: 100%;
  max-width: 100%; 
  padding: .5rem 1rem;
  transition: all .3s;
}

.text-field:focus {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  outline: 0;
}

.text-field::placeholder {
  color: #c4c4c4;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2rem;
}

.custom-select-wrapper {
  position: relative;

}
.custom-select-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: url(../assets/caret-down-solid.svg) no-repeat;
}

.btn {
  padding: 12px 24px;
  border: 0;
  border-radius: 5px;
  background: var(--white);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.cta-btn {
  padding: 20px 50px;
  color: var(--primary-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.15);
  transform: scale(1);
  transition: all .3s ease;
}

.cta-btn:hover {
  background: var(--primary-color);
  color: var(--white);
  transform: scale(.9);
  transition: all .3s ease;
}

.form-btn {
  min-height: 40px;
  background: var(--primary-color);
  color: var(--white);
}

.btn-secondary {
  color: var(--primary-color);
  background: var(--white);
  margin-right: 10px;
}

.btn-icon {
  margin-right: 25px;
}

.btn-dwon-icon {
  margin-right: 10px;
  /* transform: scale(1.35); */
}

.devider-line {
  height: 1px;
  background: var(--primary-text);
  margin: 25px 0;
}

.fa-phone {
  transform: scaleX(-1);
}

/* Header */
.header {
  background: var(--white);
  position: relative;
  z-index: 100;
}

.logo {
  display: block;
  width: 150px;
  height: auto;
}

.contact-info {
  display: none;
}


/* Menu */
.menu-toggle-container {
  position: absolute;
  top: 30px;
  left: 20px;
}

.menu-toggle-container .container {
  padding: 0;
}

.menu-toggle {
  width: 33px;
  height: 33px;
}

.menu-toggle-icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../assets/menu3.svg) 0 0/cover no-repeat;
}
.menu-toggle-icon.is-active {
  background-image: url(../assets/close2.svg);
}

.nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .3s ease;
}

.nav.is-active {
  max-height: 100%;
  transform: scaleY(1);
  transform-origin: top;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  position: relative;
  z-index: 2;
}

.menu-link {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  background: var(--white);
  color: var(--darker-grey);
  padding: 10px 20px;
}

.menu-link.is-active {
  background-color: var(--dark-grey);
  color: var(--white);
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--dark-grey);
  color: var(--white);
}

.dropdown-menu {
  display: flex;
  justify-content: space-between;
}

.drop-arrow {
  color: #494c4f;
  transform: scale(1.5);
}

.menu-link:hover .drop-arrow,
.menu-link:focus .drop-arrow {
  color: var(--white);
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease;
}

.dropdown-menu:hover + .submenu,
.submenu:hover,
.submenu.is-active {
  max-height: 500px;
  transition: max-height .3s ease;
}

.submenu-link {
  text-transform: initial;
  padding-left: 40px;
}


/* Hero */
.hero {
  height: 600px;
  background: url(../assets/therapie-im-zentrum_Eingangsbereich_slider_hell.jpg) center/cover no-repeat;
  background-position: center;
  position: relative;
  margin-top: -45px;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000;
  opacity: .45;
  mix-blend-mode: multiply;
}

.hero-shape {
  width: 100%;
  position: absolute;
  bottom: -5px;
  overflow-x: hidden;
}

.hero-shape svg {
  height: 500px;
  width: calc(230% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}

.shape-fill {
  fill: var(--primary-color);
}

.hero-content {
  padding-top: 55px;
  position: relative;
  z-index: 10;
  top: 0;
}

.hero-title {
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  text-align: center;
  color: var(--white);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.hero-cards {
  background: var(--primary-color);
  position: relative;
  height: 800px;
}

.hero-cards .cards {
  position: relative;
  top: -230px;
}

.hero-cards .shape-fill {
  fill: var(--white);
}

.card {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.25);
  text-align: center;
  align-items: flex-end;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;      
}

.card-bg-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 11px;
  background: #850000;
  mix-blend-mode: hue;
  opacity: 1;
  transition: opacity 1s linear;
}

.card-content {
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: var(--white);
  text-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translateY(0);
  transition: transform 1s ease;
}

#hero-card-1 {
  background-image: url(../assets/osteomed_schmerztherapie_02.png);
}
#hero-card-2 {
  background-image: url(../assets/osteomed_schmerztherapie_01.png);
}
#hero-card-3 {
  background-image: url(../assets/osteomed_schmerztherapie_03.png);
}
/* Cards Animations */
.card:hover .card-bg-overlay {
  opacity: 0;
  transition: opacity 1s linear;
}

.card:hover .card-title {
  transform: translateY(-20px);
  transition: transform 1s ease;
}

.card-btn {
  transform: translateY(0);
  transition: transform 1s ease .3s;
}

.card:hover .card-btn {
  transform: translateY(-20px);
  transition: transform 1s ease .3s;
}


/* Double Down Arrow */
.double-down-icon {
  color: var(--primary-color);
  transform: scale(4);
  margin: 2rem 0;
}


/* Us Section */
.us-img {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.15);
}

.smile {
  width: 120px;
  height: 120px;
}


/* Services Section */
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 60px 0 20px;
}

.services-grid-item {
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.15);
  transform: scale(1);
  transition: transform .3s ease;
}

.services-grid-item:hover {
  transform: scale(.9);
  transition: transform .3s ease;
}

.services-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-icon {
  width: 125px;
  height: 125px;
  margin-bottom: 20px;
}

.services-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}


/* Appointment CTA */
.appointment-cta {
  padding: 0 20px;
}


/* About Section */
.about-wrapper {
  padding-left: 20px;
  border-left: 1px solid var(--primary-text);
}

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.unfold-text {  
  overflow: hidden;
  max-height: 100px;
  color: rgba(0,0,0,.8);
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  position: relative;
  transition: max-height .2s linear;
}

.unfold-text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  z-index: 2;
}

.unfold-text.is-active {
  max-height: 900px;
  transition: max-height .2s linear;
}

.is-active.unfold-text::after {
  display: none;
}

.unfold-btn-wrapper {
  margin-top: 15px;
}

.unfold-btn {
  color: var(--primary-text);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  line-height: 1.5;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.15);
  position: relative;
  bottom: 0;
  z-index: 3;
}

.unfold-btn .btn-dwon-icon {
  transition: transform .3s linear;
}

.unfold-btn.is-active .btn-dwon-icon {
  transform: rotate(180deg);
  transition: transform .3s linear;
}


/* Gallery Section */
.gallery {
  position: relative;
}

.slider {
}

.slide {
  width: 100%;
}

.slide-img {
  display: block;
  width: auto;
  max-height: 300px;
}

.prev,
.next {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev i,
.next i {
  color: #f0f0f0;
}

.prev i {
  transform: scaleX(-1);
}


/* Contact Section */
.contact {
  padding: 25px;
  margin-bottom: 80px;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.15);
}

.contact-title {
  font-size: 20px;
}

.contact-container {
  margin-top: 30px;
}

.paginator {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto';
  color: rgba(122,122,122,.55);
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.paginator-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginator-item:nth-of-type(3) {
  margin: 0 15px;
}

.paginator-item.is-active {
  color: var(--primary-color);
}

.paginator-item.is-active .paginator-item-circle {
  border-color: var(--primary-color);
}

.paginator-item.is-filled .paginator-item-circle {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: var(--white);
}

.paginator-item-circle {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(122,122,122,.55);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.paginator-devider {
  width: 100%;
  height: 1px;
  background: rgba(122,122,122,.55);
  margin-top: 14.5px;
}

.contact-slide {
  display: none;
}

.contact-slide.is-active {
  display: block;
}


/* Footer */
.footer {
  padding-top: 20px;
  padding-bottom: 0;
  background: #232323;
  color: var(--white);
  font-family: 'Roboto';
  font-weight: 300;
}

.footer-title {
  font-family: 'Montserrat';
  margin-top: 0;
}

.footer-copy p {
  color: rgba(255,255,255,.55);
  text-align: center;
  line-height: 1.7;
}

.footer-menu {
  display: flex;
  font-weight: 400;
  margin-top: 30px;
}

.footer-menu .menu-item {
  margin: 0 8px;
}

.footer-menu a:hover {
  color: var(--primary-color);
}

.testimonials {
  padding: 20px;
}

.testimonials-card {
  width: calc(100% - 40px)
}

.testimonials-copy {
  position: relative;
  padding: 45px;
  background: #3d3d3d;
  line-height: 2;
  text-align: center;
}

.testimonials-copy::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #3d3d3d;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%) scaleX(.75) rotate(45deg);
}

.testimonials-auth {
  margin-top: 35px;
  padding: 0 45px;
}

.testimonials-auth-img {
  flex-shrink: 0;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonials-name {
  font-size: 20px;
  font-weight: 600;
}

.testimonials-title {
  display: block;
  font-size: 12px;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  line-height: 1;
  color: #686868;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 50px 0 30px;
}

.paginator-dot {
  height: 6px;
  width: 6px;
  margin: 0 6px;
  border-radius: 50%;
  background: #000;
  opacity: .2;
}

.paginator-dot.is-active {
  background: #fff;
  opacity: 1;
}

.footer-copyright {
  background: #000;
  padding: 25px 20px;
  text-align: center;
}

.footer-copyright a {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;  
  color: #686868;
}

.footer-copyright > a:first-of-type {
  display: block;
  margin-bottom: 20px;
}

.footer-copyright i {
  color: #fff;
  transition: all .3s ease;
}

.footer-copyright i:hover {
  color: var(--primary-color);
  transform: scale(1.1);
  transform-origin: center;
  transition: all .3s ease;
}


/* Modal */
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  /* transform: translateX(-50%); */
  background: rgba(255,255,255,.8);
  display: none;
  overflow: auto;
}

.modal-container.is-active {
  display: block;
}

.modal-title {
  text-align: left;
  margin-top: 0;
}

.close-btn {
  width: 15px;
  height: 15px;
  background: url(../assets/close.svg) 0 0/cover no-repeat;
  position: fixed;  
  top: 20px;
  right: 30px;
}

.modal {
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient( 300deg,#9cc425 0%,#fff 48%);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  padding: 25px;
  border-radius: 25px;
}

.modal-img {
  display: block;
  width: 135px;
  margin: 0 auto;
}

.modal-form .text-field {
  border-radius: 5px;
}

.modal-form .form-btn {
  background: var(--primary-text);
  color: var(--white);
  width: 100%;
}

.modal-form .btn-secondary{
  background: #61ce70;
}



/* SUBPAGES */
.subpage-hero {
  height: 250px;
  background-image: url(../assets/osteomed_eingangsbereich.png);
}

.shape-color-bar {
  background: var(--primary-color);
  position: absolute;
  width: 100%;
  top: 240px;
  height: 60px;
}

.hero-shape-2 .shape-fill {
  fill: var(--white);
}

.article {
  margin-top: 45px;
}

.article-icon-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.article-icon {
  width: 125px;
}

.article-body {  
  font-family: 'Roboto';
}

.article-body > p {  
  color: #54595f;
}

.article-body a {
  color: var(--accent-color);
  overflow: hidden;
}

.article + .appointment-cta {
  margin: 45px auto;
}

.checked-list {
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.checked-list-item {
  line-height: 1.5;
  color: #54595f;
  padding-left: 20px;
  position: relative;
}

.checked-list-item::before {
  content: '';
  display: block;
  width: 14px;
  height: 100%;
  background: url(../assets/check-solid.svg) center center no-repeat;
  position: absolute;
  left: 0;
}


.map-wrapper {
  width: 100vw;
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
}

.address {
  padding-top: 1rem;
}

.address-item {
  border-left: 1px solid var(--primary-text);
  padding-left: 5%;
  text-transform: uppercase;
  margin: 2rem 0;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-item a {
  color: initial;
}

.address-title {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 400;
}

.job-title {
  font-size: 25px;
  color: var(--primary-color);
  margin-bottom: 0;
}
.job-subtitle {
  font-size: 20px;
  color: #54595f;
  margin-top: 0;
}


@media (min-width: 768px) {
   /* General classes */
  .title {
    font-size: 50px;
    margin-top: 0;
  }

  .section-title,
  .section-subtitle {
    font-size: 35px;
  }
  
  .article-title {
    font-size: 50px;
    margin: 0 0 .5em;
  }

  .flex-50 {
    width: 50%;
  }

  .cards {    
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .card {
    width: 33%;
    margin: 10px;
  }


  /* Header */
  .info-bar {
    padding: 10px 20px;
    justify-content: space-between;
  }

  .contact-info {
    display: flex;
    width: 100%;
  }
  
  .contact-info-wrapper {
    margin: 0 20px;
    width: 33%;
    min-width: 140px;
  }
  .contact-info-icon {
    color: var(--primary-color);
    margin-right: 1rem;
  }
  .contact-info-icon i {    
    transform: scale(1.5);
  }
  .contact-info-text-wrapper {
    font-size: 10px;
    font-family: 'Roboto';
    color: #7a7a7a;
  }
  
  .contact-info-title {
    font-size: 13px;
    margin: 0 0 .5em 0;
  }
  

  /* Menu */
  .menu-toggle-container {
    position: relative;
    top: initial;
    left: initial;
    background: var(--primary-color);
    padding: 10px;
  }

  .menu-toggle {
    background-color: rgba(0,0,0,.05);
    border-radius: 3px;
  }
  .menu-toggle-icon {
    background-image: url(../assets/menu.svg);
  }
  .menu-toggle-icon.is-active {
    background-image: url(../assets/close-white.svg);
  }


  /* Hero */
  .hero-title {
    font-size: 35px;
    margin: 2em 0;
  }

  .hero-cards {
    height: 300px;
  }

  .hero-cards .cards {
    top: -100px;
  }


  /* Us section */
  .us,
  .us-imgs {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  
  .us-imgs {
    order: 2;
  }
  
  .us-img {
    width: 45%;
    object-fit: contain;
    margin: 0 10px;
  }


  /* Services section */
  .services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }


  .appointment-cta {
    padding: 30px 0;
    position: relative;
  }

  .appointment-cta .devider-line {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .appointment-cta .devider-line:first-of-type {
    left: 0%;
  }
  .appointment-cta .devider-line:last-of-type {
    right: 0%;
  }


  /* About */
  .about-wrapper {
    border: 0;
    padding: 0;
  }

  .unfold-btn-wrapper {
    justify-content: initial;
  }

  /* Gallery */
  .slider {
    width: 95%;
    margin: 0 auto;
  }
  

  /* Contact */
  .contact {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-title {
    font-size: 35px;
  }

  .paginator-item:nth-of-type(3) {
    min-width: 125px;
    margin: 0;
  }

  .form-row,
  .flex-container {
    display: flex;
  }

  .form-row .form-group {
    width: 50%;
    padding: 0 5px;
  }


  /* Testimonials */
  .testimonials {
    padding: 0 20px;
  }


  /* Footer */
  .footer {
    padding-top: 50px;
  }

  .footer-copy p,
  .footer-title {
    text-align: left;
  }

  .footer-copyright .flex-container{
    justify-content: space-between;
    align-items: center;
  }

  .footer-menu .menu-item:first-of-type {
    margin: 0;
  }



  /* Modal */
  .modal-container {
    height: 100vh;
    justify-content: center;
    align-items: center;    
  }

  .modal-container.is-active {
    display: flex;
  }
  
  .modal-wrapper {
    max-width: 750px; 
    position: relative;   
  }

  .close-btn {
    position: absolute;
    top: 0;
  }

  .modal {
    padding-right: 20em;
    position: relative;
  }
  .modal-img {
    width: 360px;
    position: absolute;
    right: -60px;
  }



  
  /* SUBPAGES */
  .subpage-hero .hero-title {
    margin: initial;
  }

  .article-icon-wrapper {
    min-width: 25%;
    margin: 35px 0;
  }

  /* .address {
    justify-content: space-between;
  } */

  .address-item:first-of-type {
    border: 0;
  }

  .address-item {
    width: 33%;
  }

  
  .job-title {
    font-size: 40px;
  }
  .job-subtitle {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .title,
  .section-title,
  .section-subtitle {
    text-align: left;
  }

  .title {
    font-size: 45px;
  }

  .section-subtitle {
    font-size: 20px;
  }

  
  .article-title {
    font-size: 55px;
  }


  /* Header */
  .contact-info {
    max-width: 835px;
  }

  .contact-info-text-wrapper {
    font-size: 13px;
  }
  
  .contact-info-title {
    font-size: 17px;
    margin: 0 0 .5em 0;
  }


  /* Menu */
  .menu-toggle-container {
    display: none;
  }

  .nav {
    display: block;
    max-height: 100%;
    transform: scale(1);
    background: var(--primary-color);
  }

  .menu {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }

  .menu-link {
    background: var(--primary-color);
    color: var(--white);
    padding: 18px 31px;
  }

  .drop-arrow {
    color: var(--white);
    margin-left: 1em;
  }

  .submenu {
    display: block;
    position: absolute;
    min-width: 12em;
  }

  .submenu-link {
    background: var(--white);
    color: var(--dark-grey);
    padding: 10px 20px;
  }



  /* Hero */
  .hero-title {
    margin: 2.5em 0 1em;
  }

  .hero-cards .cards{
    top: -200px;
  }

  .card {
    height: 450px;
  }



  .contact-title {
    text-align: center;
  }




  /* SUBPAGES */
  .subpage-hero {
    height: 320px;
  }

  .subpage-hero .hero-title {
    margin: 2.5em 0 0;
  }

  .shape-color-bar {
    top: 310px;
  }

  .map-wrapper {
    width: initial;
    max-width: 1140px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    left: initial;
    transform: translateX(0);
  }
}